@page
@model TasteRestaurant.Pages.CategoryTypes.EditModel
@{
    ViewData["Title"] = "Edit";
}

<br />

<h2>Edit Category Type</h2>

<hr />

<div>
    <form method="post">
        <div class="form-border">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="categoryType.Id"/>

            <div class="form-group">
                <div class="col-sm-2">
                    <label asp-for="categoryType.Name" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input value="@Model.categoryType.Name" asp-for="categoryType.Name" class="form-control" />
                </div>
                <span asp-validation-for="categoryType.Name" class="text-danger"></span>
            </div>

            <br />
            <br />

            <div class="form-group">
                <div class="col-sm-2">
                    <label asp-for="categoryType.DisplayOrder" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input value="@Model.categoryType.DisplayOrder" asp-for="categoryType.DisplayOrder" class="form-control" />
                </div>
                <span asp-validation-for="categoryType.DisplayOrder" class="text-danger"></span>
            </div>
        </div>

        <br />
        <br />

        <div class="form-group">
            <div class="col-sm-4">
                <a asp-page="Index" class="btn btn-primary">Back <i class="fas fa-backward"></i></a>
                <button type="submit" class="btn btn-warning" asp-route-id="@Model.categoryType.Id">Update <i class="fas fa-refresh"></i></button>
            </div>
        </div>

        <br />
        <br />

    </form>
</div>


@section Scripts {
    @{Html.RenderPartialAsync("_ValidationScriptsPartial");}
}