@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />

@if (Model.Message != null) { 

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
}

@foreach (var c in Model.indexViewModel.CategoryTypes)
{
    <h3 class="index-category text-success">@c.Name</h3>
    <div class="row">
        <div class="col-sm-12">

            <partial name="_ThumbnailAreaPartial" model="@Model.indexViewModel.MenuItems.Where(mi => mi.CategoryTypeId == c.Id)" />
        </div>
    </div>
}